
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

td {
    padding: 7px;
}

.nganh-dang-ky-hoc {
    background-color: #2196f3;
    padding: 5px;
}

tr:hover .bo {
    background-color: palegoldenrod;
}

tr:hover .nganh-dang-ky-hoc {
    background-color: white;
}

tr:hover .diadiem {
    background-color: white;
}

#rowhide{
    display: none;
}

@media only screen and (max-width: 760px),
(min-device-width: 320 px) and (max-device-width: 1024px) {
    /* Hide table headers (but not display: none;, for accessibility) */
    
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }
    /* Force table to not be like tables anymore */
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        display: block;
    }

    td:before {
        /* Top/left values mimic padding */
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        white-space: nowrap;
    }


    /*
    Label the data
    */
    td:nth-of-type(1):before {
        content: "Mã lớp";
    }
    td:nth-of-type(2):before {
        content: "Thời gian";
    }
    td:nth-of-type(3):before {
        content: "Ngày khai giảng";
    }
    td:nth-of-type(4):before {
        content: "Địa điểm học   ";
    }
    td:nth-of-type(5):before {
        content: "               ";
    }
    #rowhide{
        display: block;
    }
}