body {
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* HEADER: logo and menu chính */
header .logo {
    width: 50%;
}

.navbar { /*thanh menu chính*/
    width: 100%;
    position: relative;
    background-color: #197485 !important;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.navbar-nav{
    margin:0px;
}


#nav-left { /*id=navbar --> id của menu-left để khi gom lại*/
    padding: 0px;
    margin: 0px;
    overflow-x: hidden; /*Bỏ thang scroll ngang trong menu thu gọn*/
}
.navbar-brand{
    height:0px;
}

.navbar-brand a { /*icon home đầu thanh menu*/
    padding-left: 10px;
    color: white !important;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
}
.navbar-brand a i {
    color: white !important;
    font-size: 23px;
}


.navbar-right {
    text-align: right;
}

.navbar-right a { /* Thông tin tên nhân viên đang sử dụng trên menu chính */
    color: white;
}

.image-nhan-vien img{
    border-radius: 50%;
    width: 11%;
    margin-top: 5px;
}




/* MENU-LEFT */
.nav-menu {
    padding-top: 3px;
    background-color: white;
    height: 100%;
    overflow: auto;
    border-right: 2px solid #949494;
}

#nav-left ul li a {
    font-weight: bold;
    color: #197485;
}

#nav-left ul li:hover a {
    background-color: #197485;
    color:white;
}

#nav-left ul li {
    border-bottom: 1px solid #BEBDBD;
}
li.active {
    background-color: #197485;
}
li.active a {
    color: white !important;
}

/*CONTENT*/
.phan-noi-dung {
    max-width: 1300px;
    padding: 10px;
    min-height: 1050px;
}




@media only screen and (min-width: 768px){
    .nav-menu{
        z-index: 1;
        position: absolute;
        width: 230px;
    }
    .phan-noi-dung {
        margin: 0 0 0 240px;
        min-height: 1050px;
    }
}

@media only screen and (max-width: 767px){
    header .logo {
        width: 100%;
        margin-bottom:3px;
    }
    .image-nhan-vien {
        display: none;
    }
    .phan-noi-dung {
        padding: 5px;
    }
    .navbar-brand a {
        font-size:10px;
    }
    .page-trich-dan{
        display:none;
    }
}
